@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.indigo {
    color: rgb(78, 16, 165);
}

/* 

HEADER

*/

.header {
    position: relative;
}

.overlay {
    background-image: url(./assets/parkinglot.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 25, 71, .83);
    pointer-events: none;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 12px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    height: 40px;
    width: 150px;
    margin: 0 24px;
}

.nav__link {
    margin-left: 16px;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
    font-weight: bold;
    padding: 8px;
}

.nav__link::after {
    content: '';
    position: absolute;
    right: 0; 
    bottom: -2px;
    width: 100%; 
    height: 2px;
    background-color: antiquewhite;
    transform: scaleX(0); transition: 
    transform 0.3s ease;
}

.nav__link:hover::after {
    transform: scaleX(1);
}

.nav__links {
    margin: 0 12px;
    display: flex;
}
.nav__link--primary {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: antiquewhite;
    color: #6030B1;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #242424;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 12px;
    text-align: center;
    color: antiquewhite;
    z-index: 1;
}

.input__wrapper {
    color: antiquewhite;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    font-size: 24px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.input__text {
    width: 50%;
    border-radius: 40px;
    border: 1px solid #242424;
    text-align: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
}

#searchButton {
    width: 10%;
    margin-left: 20px;
    font-size: 40px;
    background-color: rgb(78, 16, 165);
    color: #fff;
    border-radius: 20px;
    transition: all .25s ease;
    margin-right: 300px;
}

/* 

BROWSE

*/

.browse {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.browse__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.browse__text {
    color: #242424;
}

#sortOrder {
    font-size: 16px;
    font-weight: 400;
}


/* 

RESULTS CONTAINER

*/

#resultsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    
}

.movie {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 200px;
    margin: 10px; 
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; 
}

.movie img {
    max-width: 150px;
    display: block;
    justify-content: center;
    align-items: center;
}

.movie h2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 24px;
    width: 70%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.movie-item {
    flex: 1 1 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skeleton {
    background-color: #e0e0e0; 
    border-radius: 4px; 
    padding: 10px;
}

.skeleton-title {
    height: 20px;
    width: 60%; 
    margin-bottom: 10px; 
}

.skeleton-image {
    height: 100px; 
    background-color: #c0c0c0; 
    margin-bottom: 10px; 
}

.skeleton-text {
    height: 15px;
    width: 80%; 
}