@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}


ul {
  display: flex;
}

li {
  list-style-type: none;
}

.indigo {
    color: rgb(78, 16, 165);
}

/* 

NAVBAR

*/

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo {
    height: 40px;
    width: 150px;
    margin: 0 24px;
}

.nav__link {
    margin-left: 16px;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: rgb(78, 16, 165);
    font-weight: bold;
    padding: 8px;
}

.nav__link::after {
    content: '';
    position: absolute;
    right: 0; 
    bottom: -2px;
    width: 100%; 
    height: 2px;
    background-color: rgb(78, 16, 165);
    transform: scaleX(0); transition: 
    transform 0.3s ease;
}

.nav__link:hover::after {
    transform: scaleX(1);
}

.nav__links {
    margin: 0 12px;
}
.nav__link--primary {
    padding: 8px 16px;
    border-radius: 8px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

/* 

LANDING

*/

#landing {
    max-width: 100vw;
    padding: 10px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__wrapper {
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 12px auto;
    padding-bottom: 12px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.header__one,
.header__two {
    padding-bottom: 12px;
    text-align: center;
}

.header__one {
    
}

.header__one--text {
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: #242424;
    margin-bottom: 30px;
}

.header__two--text {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #242424;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.input__wrapper {
    background-color: #fff;
    color: #242424;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 50%;
    font-size: 24px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.input__text {
    width: 70%;
    border-radius: 40px;
    border: 1px solid #242424;
    text-align: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;

}

.search {
    width: 30%;
    margin-left: 20px;
    font-size: 40px;
    background-color: rgb(78, 16, 165);
    color: #fff;
    border-radius: 40px;
    transition: all .25s ease;
}

.building {
    max-width: max-content;
    bottom: 80px;
    height: 50vh;
}